.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: calc(100vh - 20px); /* Ajuste conforme necessário para a altura do footer */
    
  }
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(250, 246, 246);
    padding: 0px;
    width: 350px;
    text-align: center;
    margin: 0 10px; /* Adiciona margem entre os cards */
  }
  .card:nth-child(1) h2 {
    color: #fff;
    background-color: #38743b; /* Cor de fundo para o Card 2 */
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 100px;
    text-align: center;
  }
  .card:nth-child(2) h2 {
    color: #fff;
    background-color: #0b4085; /* Cor de fundo para o Card 2 */
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 100px;
    text-align: center;
  }
  .card:nth-child(3) h2 {
    color: #fff;
    background-color: #b325cf; /* Cor de fundo para o Card 3 */
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 100px;
    text-align: center;
  }
  .special-paragraph {
    color: #7b4ad6; /* Cor azul escuro */
    font-size: 40px; /* Tamanho maior da fonte */
    font-weight: bold; /* Negrito */
    margin-top: 20px; /* Adiciona espaço abaixo do parágrafo especial */
    margin-left: 8px;
  }
  .discount-paragraph {
    color: #666; /* Cor cinza */
    font-size: 20px; /* Tamanho menor da fonte */
    margin-top: 20px; /* Adiciona espaço acima do parágrafo de desconto */
    margin-left: 10px;
    margin-bottom: 0;
  }
  .text {
    color: #777; /* Cor cinza claro para o texto equivalente a */
    font-size: 20px; /* Tamanho menor da fonte */
    margin-bottom: 20px; /* Reduzi a margem inferior */
    margin-top: 100px; /* Adiciona espaço acima do parágrafo especial */
    margin-left: 8px;
  }
  .text-simple {
    margin-top: 30px; /* Adicionei margin-top para empurrar para baixo */
    margin-left: 8px;
  }

