.input {
  background-color: #fcfcfc;
  font-size: 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-primary--);
  border-radius: 5px;
  padding-left: 10px;
  width: 400px;
  height: 40px;
}