header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00FFBA;
}

header h3 {
    /* color: #ccc; */
}

header>img {
    padding-left: 10px;
    height: 100%;
}

.user {
    height: 100%;
    text-align: center;
}

.user img {
    padding-top: 4px;
    height: 48px;
}

p {
    padding-right: 10px;
}