.form {
  width: 80%; /* Use uma porcentagem do tamanho da tela */
  max-width: 700px; /* Defina um valor máximo para o formulário */
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; /* Centralize o formulário horizontalmente */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
