@import '../../../styles/variables.css';

.menu {
    width: min-content;
    flex-grow: 1;
}

.menu-icon {
    position: absolute;
    top: 15px;
    font-size: 40px;
    cursor: pointer;
}

.menu-itens {
    height: 100%;
    background-color: var(--color-secondary--);
}