@import '../../../styles/variables.css';

.menu {
    height: 100%;
    background-color: var(--color-secondary--);
    transition: width 50s;
}

.menu .active {
    width: 250px;
}

.menu-icon {
    position: absolute;
    top: 15px;
    font-size: 40px;
    cursor: pointer;
}

.menu-itens {
    height: 100%;
    background-color: var(--color-secondary--);
}