.divFoods {
  width: 80%;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  width: 90%;
  max-width: 500px;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 1001;
}

.info-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-table,
.info-table td {
  font-size: 20px;
  word-wrap: break-word;
  border: 1px solid black;
}

.info-table td {
  padding: 8px;
}

.food-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.food {
  justify-content: center;
  align-items: center;
}
.food {
  width: 280px;
  margin: 0 10px;
}

.food .header {
  background-color: #034d28;
  border-radius: 10px 10px 0px 0px;
}

.food .footer p {
  display: inline;
  font-size: 18px;
  line-height: 22px;
  color: #331e1e;
  padding: 0 16px;
  margin-left: 30%;
}

.button-div {
  margin-left: 212px;
}
