search-bar-container {
  width: 100%;
  height: 80px; /* Ajuste a altura conforme necessário */
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-left: 30%;
}

.search-bar Input {
  margin-right: -200px; /* Ajuste a margem conforme necessário */
}
.search-bar Button {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
