.custom-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100px; /* Ajuste a largura conforme necessário */
    margin: left; /* Centraliza o formulário na tela */
  }
  
  .form-group {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
  }
  
  
  textarea {
    width: 50%;
    resize: none
  }
  