.form img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: left;
    margin-Right: 20px;
}

.button-cont {
    display: flex;
}

.tab-list {
    list-style: none;
    padding: 0;
    margin: 5px;
    display: flex;
    background-color: #1bcf84;
    /* Cor de fundo da barra de abas */
    border-bottom: 5px solid #0e0d0d;
    /* Borda na parte inferior da barra de abas */
    width: 800px;
    margin-left: 250px;

}

.table-appoiments {
    padding: 10px;
    background-color: #fff;
    width: 80%;
    margin-bottom: 20px;
}

.table-appoiments thead tr td {
    border: 1px solid var(--color-primary--);
}

.table-appoiments tbody tr td {
    width: fit-content;
    border-left: 1px solid var(--color-primary--);
    border-bottom: 1px solid var(--color-primary--);
}

.table-appoiments tbody tr td:last-of-type {
    border-right: 1px solid var(--color-primary--);
}