.side-card2 {
    display: flex;
    gap: 50px;
  }
  
  .side-card2-header2,
  .side-card2-body2 {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .side-card2-body2 {
    color: rgb(10, 9, 9);
    font-size: 1.2em;
    line-height: 1.0;
    margin-bottom: 10px; /* Adiciona um espaçamento inferior para separar do conteúdo */
    margin-top: 20px;
  }
  
  .side-card2-body2 > div {
    color: black;
    margin-left: 20px;
    line-height: 1.5;
  }
