Textarea {
  font-size: 20px;
  border: none;
  border-bottom: 1px solid var(--color-primary--);
  border-radius: 5px;
  padding-left: 10px;
  width: 400px;
  height: 60px;
}

Input {
  margin-bottom: 15px;
}

.food img {
  border-radius: 10px 10px 0px 0px;
  height: 200px;
  width: 280px;
  position: relative;
  bottom: 0px;
  margin-left: 0px;
}
